# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
./front/yarn.lock
./back/yarn.lock
/front/src/components/newDone.jsx
node_modules
dist
dist-ssr
*.local
back/yarn.lock
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
back/yarn.lock
back/package.json
back/package-lock.json
back/datos/networks/chain-1/docker-compose.yml
back/datos/networks/chain-1/genesis.json
front/src/components/juanviejo.jsx
back/datos/networks/452/.env
back/datos/networks/452/address.txt
back/datos/networks/452/bootnode
back/datos/networks/452/bootnode.key
back/datos/networks/452/docker-compose.yml
back/datos/networks/452/genesis.json
back/datos/networks/452/keystore/UTC--2024-03-13T19-09-18.885539768Z--a09f763f98649a4030fbffc3d606563dd9669fa0
back/datos/networks/452/repc1/geth/jwtsecret
back/datos/networks/452/repc1/geth/LOCK
back/datos/networks/452/repc1/geth/nodekey
back/datos/networks/452/repc1/geth/transactions.rlp
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00004096.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00135168.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00266240.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00397312.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00528384.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00659456.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00790528.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_00921600.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01052672.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01183744.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01314816.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01445888.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01576960.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01708032.bag
back/datos/networks/452/repc1/geth/blobpool/limbo/bkt_01839104.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00004096.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00135168.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00266240.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00397312.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00528384.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00659456.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00790528.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_00921600.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01052672.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01183744.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01314816.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01445888.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01576960.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01708032.bag
back/datos/networks/452/repc1/geth/blobpool/queue/bkt_01839104.bag
back/datos/networks/452/repc1/geth/chaindata/000004.sst
back/datos/networks/452/repc1/geth/chaindata/CURRENT
back/datos/networks/452/repc1/geth/chaindata/LOCK
back/datos/networks/452/repc1/geth/chaindata/MANIFEST-000001
back/datos/networks/452/repc1/geth/chaindata/MANIFEST-000006
back/datos/networks/452/repc1/geth/chaindata/OPTIONS-000007
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/bodies.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/bodies.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/bodies.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/diffs.0000.rdat
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/diffs.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/diffs.ridx
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/FLOCK
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/hashes.0000.rdat
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/hashes.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/hashes.ridx
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/headers.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/headers.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/headers.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/receipts.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/receipts.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/chain/receipts.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.data.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.data.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.data.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.index.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.index.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/state/account.index.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/state/FLOCK
back/datos/networks/452/repc1/geth/chaindata/ancient/state/history.meta.0000.rdat
back/datos/networks/452/repc1/geth/chaindata/ancient/state/history.meta.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/state/history.meta.ridx
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.data.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.data.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.data.meta
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.index.0000.cdat
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.index.cidx
back/datos/networks/452/repc1/geth/chaindata/ancient/state/storage.index.meta
back/datos/networks/452/repc1/geth/lightchaindata/CURRENT
back/datos/networks/452/repc1/geth/lightchaindata/LOCK
back/datos/networks/452/repc1/geth/lightchaindata/MANIFEST-000001
back/datos/networks/452/repc1/geth/lightchaindata/OPTIONS-000003
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/bodies.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/bodies.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/bodies.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/diffs.0000.rdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/diffs.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/diffs.ridx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/FLOCK
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/hashes.0000.rdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/hashes.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/hashes.ridx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/headers.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/headers.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/headers.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/receipts.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/receipts.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/chain/receipts.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.data.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.data.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.data.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.index.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.index.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/account.index.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/FLOCK
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/history.meta.0000.rdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/history.meta.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/history.meta.ridx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.data.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.data.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.data.meta
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.index.0000.cdat
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.index.cidx
back/datos/networks/452/repc1/geth/lightchaindata/ancient/state/storage.index.meta
back/datos/networks/452/repc1/geth/nodes/CURRENT
back/datos/networks/452/repc1/geth/nodes/LOCK
back/datos/networks/452/repc1/geth/nodes/LOG
back/datos/networks/452/repc1/geth/nodes/MANIFEST-000000
back/datos/networks/452/genesis.json
back/datos/networks/452/genesis.json
