# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
./front/yarn.lock
./back/yarn.lock
/front/src/components/newDone.jsx
node_modules
dist
dist-ssr
*.local
back/yarn.lock
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
back/yarn.lock
back/package.json
back/package-lock.json
back/datos/networks/chain-1/docker-compose.yml
back/datos/networks/chain-1/genesis.json
front/src/components/juanviejo.jsx
back/datos/networks/